.wt/
.mach-seed/
.mach-lib/
.mach-txn-lock
test/fixture/out/
test/fixture/dep/
test/fixture/consumer/out/
test/fixture/consumer/dep/
test/fixture/examples/*/out/
test/fixture/examples/*/dep/
__pycache__/
